@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  height: 3000px;
  margin: 0px;
  padding: 0px;
}
.footer {
  position: fixed;
  bottom: 0px;
  background-color: black;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.header {
  top : 0px;
  width: 100%;
  height: 50px;
}
.frontpage,
.skills,
.contact {
  height: 100px;
  background-color: lightgray;
}
.About-me,
.project {
  height: 100px;
}
.navbar {
  padding: 10px;
}
.top-2{
  margin-top : 60px;
}
.contact{
  margin-bottom: 50px;
}
.anchor{
  height: 60px;       /* 헤더의 height와 동일한 값 */
  margin-top: -60px;  /* 헤더의 height와 동일한 값 */
}

@media (max-width : 1000px) {
  .article {
    display: flex;
  }
  .frontpage, .my-intro {
    width: 50%;
  }
  .skills{
    width: 30%;
  }
  .project {
    width: 70%;
  }
}